---
layout: default
---
<div class="header">
    <p class="metadata"> 
        {{ page.date | date: "%-d. %B %Y" | downcase }}  · 
        {% for tag in page.tags %}
            {{ tag }}{% if forloop.last != true %},{% endif %}
        {% endfor %}
    </p>
    <h1 class="title">{{ page.title }} </h1>
    <img class="header-image" src="{{ page.heading_image }}">
</div>

{{ content }}

<style>
    .header {
        text-align: center;
    }
    .title {
        font-weight: bold;
    }
    .header-image {
        width:30em; 
        margin-top: 3em;
    }
</style>