<header class="header">
    <div class="logo">
        <a href="/"
            ><img
                src="/favicon_io_black/android-chrome-512x512.png"
                alt="Logo"
                width="40"
                height="40"
            /></a
        >
        <div style="padding: 1em;">Amanda Lohne</div>
    </div>
    <nav class="nav">
        <ul>
            <li><a href="/about">About</a></li>
            <!-- <li><a href="/blog">Blog</a></li>
            <li><a href="/contact">Contact</a></li> -->
        </ul>
    </nav>
</header>

<style>
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        /* background-color: #f8f8f8; */
        /* border-bottom: 1px solid #ddd; */
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.25rem;
        /* font-weight: bold; */
    }

    .nav ul {
        display: flex;
        gap: 1.5rem;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .nav a {
        text-decoration: none;
        color: #333;
        font-weight: 500;
    }

    .nav a:hover {
        color: #484747;
    }
</style>
